<link rel="stylesheet" href="static/assets/body/style_body_10.css">
<footer>
    <section class="footer3 cid-u5XEcsr6HO" once="footers" id="footer-3-u5XEcsr6HO">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-5">
                    <p class="mbr-fonts-style copyright display-7">
                        <strong>Связаться с нами:</strong>
                    </p>

                    <p class="mbr-fonts-style copyright display-7">
                        <a href="mailto:invitation@magic.com">invitation@magic.com</a>
                    </p>
                </div>

                <div class="col-12 mt-5">
                    <p class="mbr-fonts-style copyright display-7">
                        &copy; 2024 Магия приглашений.
                    </p>
                    <p class="mbr-fonts-style copyright display-7">
                        Все права защищены.
                    </p>
                </div>
            </div>
        </div>
    </section>
</footer>
