{% extends "base/base.html" %}

{% block content %}

<section class="form03 cid-ubVedPkh6a mbr-fullscreen">
    <h2>Вход</h2>
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>

        <p>
            <a class="nav-link link text-black display-4" href="/reg">
                reg
            </a>
        </p>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

</section>
{% endblock %}
