{% extends "base/base.html" %}

{% block content %}
<section data-bs-version="5.1" class="news07 cid-ubVZmMcgVO" id="news07-a">
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Upcoming events with images</strong>
            </h3>
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper card-wrapper">
                        <div class="card text-content">
                            <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                                <strong>Golden Hour Mastery</strong>
                            </h5>
                            <h6 class="mbr-card-subtitle mbr-fonts-style mt-0 mb-3 display-7">
                                May 17-18, 2025
                            </h6>
                            <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">
                                Unveil the enchanting allure of the golden hour in this comprehensive workshop.
                                Learn advanced techniques to create breathtaking photos as you harness the magical light
                                of sunrise and sunset. Explore composition, lighting, and post-processing tricks that
                                will elevate your
                                photography skills.
                            </p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-white display-7" href="https://mobiri.se">
                                    Learn more
                                </a>
                            </div>
                        </div>
                        <div class="image-wrapper d-flex justify-content-center">
                            <img src="static/assets/images/11.jpg" alt="Mobirise Website Builder" data-slide-to="1"
                                 data-bs-slide-to="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
