{% extends "base/base.html" %}

{% block content %}
<section data-bs-version="5.1" class="form03 cid-ubVedPkh6a mbr-fullscreen" id="form03-9">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg item-wrapper">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Регистрация</strong></h3>
                </div>
                <div class="col-lg-12 mx-auto mbr-form" data-form-type="formoid">
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                          data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true"
                                                             value="PsLahSy+XqKaSLjpcTV5LHF8r5iKGwS3c0yJCbLb3uiC9Df+7PAuUfl+bcEsPTR6Y23h+sqGc9mMZ+xFW7jkKXGFdhzczDbQd1rmXgDUVvTbn/aOuKEoDng7zyTKgtVY">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for
                                filling out the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-md col-sm-12 form-group mb-3 mb-3" data-for="name">
                                <input type="text" name="name" placeholder="Name" data-form-field="name"
                                       class="form-control" value="" id="name-form03-9">
                            </div>
                            <div class="col-md col-sm-12 form-group mb-3 mb-3" data-for="email">
                                <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                                       class="form-control" value="" id="email-form03-9">
                            </div>
                            <div class="col-12 form-group mb-3 mb-3" data-for="phone">
                                <input type="tel" name="phone" placeholder="Phone" data-form-field="phone"
                                       class="form-control" value="" id="phone-form03-9">
                            </div>
                            <div class="col-12 form-group mb-3 mb-3" data-for="textarea">
                                <textarea name="textarea" placeholder="Message" data-form-field="textarea"
                                          class="form-control" id="textarea-form03-9"></textarea>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                                <button type="submit" class="btn btn-primary display-7">Регистрация</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img class="w-100" src="static/assets/images/gallery04.jpg" alt="Mobirise Website Builder">
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
