{% extends "base/base.html" %}

{% block content %}
<section data-bs-version="5.1" class="header13 cid-ubUfuVPTAZ mbr-fullscreen" id="header13-4">
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12 mb-5 content-head">
                <h1 class="mbr-section-title mbr-fonts-style display-1">
                    <strong>Вступление с изображением</strong>
                </h1>
                <p>Event: {{ event }}</p>
                <p>Guest: {{ guest }}</p>
                <p class="mbr-text mbr-fonts-style mt-4 display-7">
                    Вступление с картинкой внизу.<br>Отлично подходит для профессиональных программистов для быстрого
                    прототипирования и небольших проектов клиентов.
                </p>

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-md-11">
                <img src="static/assets/images/6.jpg" alt="" title="">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="countdown1 cid-ubUfNEiByw" id="countdown1-6">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="mbr-section-title mb-5 align-center mbr-fonts-style display-2">
                    <strong>Отсчёт до мероприятия</strong>
                </h3>
                <h5 class="mbr-section-subtitle mb-5 align-center mbr-fonts-style display-7">
                    Используйте этот блок для обратного отсчета вашего проекта, если он еще не готов.
                    Установите дату в параметрах блока.
                </h5>
                <div class="countdown-cont align-center mb-5 display-2">
                    <div title="Days" class="daysCountdown col-xs-3 col-sm-3 col-md-3 display-7"></div>
                    <div title="Hours" class="hoursCountdown col-xs-3 col-sm-3 col-md-3 display-7"></div>
                    <div title="Minutes" class="minutesCountdown col-xs-3 col-sm-3 col-md-3 display-7"></div>
                    <div title="Seconds" class="secondsCountdown col-xs-3 col-sm-3 col-md-3 display-7"></div>
                    <div class="countdown" data-due-date="2025/01/01"></div>
                </div>

                <div class="icons-menu row justify-content-center display-7">
                    <div class="soc-item col-auto">
                        <a href="https://instagram.com/mobirise" target="_blank" class="social__link">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item col-auto">
                        <a href="https://instagram.com/mobirise" target="_blank" class="social__link">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item col-auto">
                        <a href="https://instagram.com/mobirise" target="_blank" class="social__link">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item col-auto">
                        <a href="https://instagram.com/mobirise" target="_blank" class="social__link">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="contacts02 map1 cid-ubUfQZezFZ" id="contacts02-7">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Время и место</strong>
                    </h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="text-wrapper">
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">Телефон:
                                <a href="tel:+12345678910" class="text-primary">
                                    +7(800) 123 45 67<br>
                                </a>
                            </li>
                            <li class="mbr-text item-wrap">Адрес: г. Омск, ул. Любви 69</li>
                            <li class="mbr-text item-wrap">Время начала: 16:30</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-md-12 col-lg-6">
                <div class="google-map">
                    <iframe frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen"
                            allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form1 cid-ubUhOxmpw7" id="form01-8">
    <div class="container-fluid">
        <div class="row content-wrapper justify-content-center">
            <div class="col-lg-7 mbr-form">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h5 class="mbr-section-title mbr-fonts-style mb-5 display-2">
                        <strong>Ответить на приглашение</strong>
                    </h5>
                </div>

                <div class="text-wrapper align-left" data-form-type="formoid">
                    <!--Formbuilder Form-->
                    <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler"
                          data-form-title="Form Name">
                        <input type="hidden" name="email"
                               data-form-email="true"
                               value="0VnhOVsSar0039FKYWz4qaU68FzplFfkznTyHbuAnlpUGh9a8IdO4CBhyk/d5yN/F7kinnCdE2MegkzkojEelqH9dQ+N7EnG9MSBmuNjJ2QrSBhLHy3Bd3OqZCeoPzSu">
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">
                                Thanks for filling out the form!
                            </div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div data-for="email" class="col-lg-6 col-md-6 col-sm-12 form-group">
                                <input type="email" name="email" placeholder="test@email.com" data-form-field="email"
                                       class="form-control display-7" value="" id="email-form01-8">
                            </div>
                            <div class="col-auto mbr-section-btn">
                                <button type="submit"
                                        class="w-100 w-100 w-100 w-100 w-100 w-100 btn btn-primary display-7">Ответить
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--Formbuilder Form-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
